/*NavBar*/
.header {
	width: 100%;
	height: 68px;
	max-height: 68px;
	background-color: #27ae60;
	position: relative;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: fixed;
	z-index: 1001;
}

.header.dark{
    background-color: #2A2F32;
}

.header #hamburguer {
	float: left;
	float: left !important;
}


/*Hamburguer Icon*/

#hamburguer {
	height: 68px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	background-color: #27ae60;
	cursor: pointer;
}

#hamburguer.dark{
    background-color: #2A2F32;
}

#hamburguer #nav-icon {
	width: 16px;
	height: 11px;
	position: relative;
	background-color: #27ae60;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

#hamburguer #nav-icon.dark{
    background-color: #2A2F32;
}

#hamburguer #nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: #ffffff;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#hamburguer #nav-icon span:nth-child(even) {
	left: 50%;
	border-radius: 0;
}

#hamburguer #nav-icon span:nth-child(odd) {
	left: 0px;
	border-radius: 0;
}

#hamburguer #nav-icon span:nth-child(1),
#hamburguer #nav-icon span:nth-child(2) {
	top: 0px;
}

#hamburguer #nav-icon span:nth-child(3),
#hamburguer #nav-icon span:nth-child(4) {
	top: 4px;
}

#hamburguer #nav-icon span:nth-child(5),
#hamburguer #nav-icon span:nth-child(6) {
	top: 8px;
}




/*SideBar*/

/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

#wrapper.toggled {
	padding-left: 200px;
	overflow-y: hidden;
}

#wrapper.toggled #sidebar-wrapper {
	width: 0;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding-top: 68px;
	padding-left: 0;
	padding-right: 0;
}

#page-content-wrapper > .sub_header,
#page-content-wrapper > .pg_content {
	padding-left: 10px;
	padding-right: 10px;
}

#page-content-wrapper > .pg_content {
	padding-top: 40px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	top: 68px;
	min-width: 80px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background-color: #27ae60;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease; /* Sidebar Styles */
}

#sidebar-wrapper.dark{
    background-color: #2A2F32;
}

#sidebar-wrapper .sidebar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar-wrapper .sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #FFF;
	position: relative;
	padding: 20px 30px;
}

#sidebar-wrapper .sidebar-nav li a:hover,
#sidebar-wrapper .sidebar-nav li a:active,
#sidebar-wrapper .sidebar-nav li a:focus,
#sidebar-wrapper .sidebar-nav li a.active {
	text-decoration: none;
	color: #FFF;
	background-color: #bdc3c7;
}

#sidebar-wrapper .sidebar-nav li i:before {
	font-size: 20px;
}

#sidebar-wrapper .sidebar-nav li span.nav-label {
	position: absolute;
	top: 22px;
	left: 60px;
}

#sidebar-wrapper .sidebar-nav li span.fa {
	position: absolute;
	top: 24px;
	right: 20px;
}

#sidebar-wrapper .sidebar-nav li .sub-menu {
	padding-left: 0;
}

#sidebar-wrapper .sidebar-nav li .sub-menu li a {
	padding: 20px 20px 20px 30px;
}



#wrapper {
	padding-left: 80px;
}

#wrapper.toggled {
	padding-left: 200px;
}

#sidebar-wrapper {
	width: 80px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 200px;
}

#wrapper.toggled .sidebar-nav span {
	display: block;
}

#wrapper .sidebar-nav span {
	display: none;
}

#page-content-wrapper {
	position: relative;
	margin-right: 0;
}